<div class="container">
    <h1 class="mt-5">Desafio de Teste Prático</h1>
    <p class="lead">
        O teste consiste na codificação de uma aplicação <i>Web</i> com conexão a um Banco de Dados estruturado (SQL) 
        e com os seguintes <b>requisitos funcionais</b>:
    </p>
    <ol type="I">
        <li><b>CRUD de <i>Container</i></b>
            <ol>
                <li>Cliente</li>
                <li>Número do <i>container</i> (4 letras e 7 números. <i>Ex.:TEST1234567</i>)</li>
                <li>Tipo: 20 / 40</li>
                <li>Status: Cheio / Vazio</li>
                <li>Categoria: Importação / Exportação</li>
            </ol>
        </li>
        <li><b>CRUD de Movimentação</b>
            <ol>
                <li>
                    Tipo de movimentação (Embarque, Descarga, <i>Gate In</i>, <i>Gate Out</i>, 
                    reposicionamento, pesagem, <i>scanner</i>)
                </li>
                <li>Data e Hora do início</li>
                <li>Data e Hora do fim</li>
            </ol>
        </li>
        <li><b>Relatório com o total de movimentações agrupadas por cliente e tipo de movimentação</b>
            <ol>
                <li>No final do relatório deverá conter um sumário com o total de importação / exportação</li>
            </ol>
        </li>
        <li><b>Premissa para todos os artefatos</b>
            <ul>
                <li>
                    O <i>layout</i> dos controles de manutenção dos dados não precisa ser de um CRUD padrão.
                    Pode se sentir à vontade para criar mecanismos de interação mais criativos.
                </li>
                <li>Validações</li>
                <li>Ordenações</li>
                <li>Filtros</li>
            </ul>
        </li>
    </ol>
</div>